.cadastro {
    background-color: var(--branco);

    color: var(--azul);

    background-image: url('../img/Patas.png'), url('../img/Forma\ 1.png'), url('../img/Forma\ 2\ \(1\).png');
    background-repeat: no-repeat;
    background-position: right top, left top, left 80%;

}

.cadastro__formulario {
    text-align: center;
    height: 80vh;
    margin-top: 2em;
}

.cadastro__texto {
    margin: 1em 2em;
}

.container-formulario__rotulo {
    display: block;
    color: var(--cinza);
    padding: 0.5em;
}

.container-formulario__campo {
    background: var(--cinza-claro);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    border: none;
    padding: 0.5em;
    width: 60%;
}

.container-formulario__campo::placeholder {
    color: var(--cinza-placeholder);
    font-family: 'Poppins';
    font-size: 12px;
    text-align: center;
}

.container-formulario {
    margin: 2em 0;
}

.formulario__botao {
    display: inline-block;
    padding: 0.7em;
    background-color: var(--vermelho);
    border-radius: 6px;
    width: 30%;
    text-decoration: none;
    color: var(--branco);
}

@media screen and (min-width: 768px) {
    .cadastro__texto {
        margin: 1em 6em;
    }

}