.lista {
    background-color: var(--branco);
    color: var(--azul);
    background-image: url('../img/Forma\ 1.png');
    background-repeat: no-repeat;
    background-position: left top;

}

.lista-pets__imagem {
    object-fit: contain;
}

.galeria__texto {
    margin: 3em 5em 2em 5em;
    text-align: center;
}

.lista-pets__item {
    display: flex;
    justify-content: space-around;
    background-color: var(--cinza-claro);
    padding: 1em;
    margin: 1em 0;
}

.caracteristicas__nome {
    font-weight: 600;
    font-size: 16px;
}

.lista-caracteristicas__item {
    font-size: 14px;
    line-height: 20px;
    color: var(--cinza);
}

.lista-caracteristicas {
    padding-top: 0.7em;
    padding-bottom: 1.5em;
}

.caracteristicas__local {
    font-size: 12px;
    line-height: 16px;
    color: var(--cinza);
}

.contato {
    display: flex;
    margin: 0.7em 0;
}

.contato__texto {
    font-size: 10px;
    line-height: 16px;
    margin-left: 0.4em;
    color: var(--cinza)
}


@media screen and (min-width: 768px) {
    .lista-pets {
        margin: 1em 2em;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .lista-pets__item {
        margin: .5em .5em;
    }
}


@media screen and (min-width: 1440px) {
    .lista-pets {
        grid-template-columns: 1fr 1fr 1fr;
    }
}